[submodule "themes/coder"]
	path = themes/coder
	url = git@github.com:othman853/hugo-coder.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
